@{
    Layout = null;
}
<style>
    h1 {
        color: wheat;
        font-weight: bold;
    }

    body {
        background-color: #4C2222;
    }
    #espiral {
        background-color: #ff7373;
        border: none;
        color: white;
        padding: 8px 16px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
    }
    #zigzag {
        background-color: #e56767;
        border: none;
        color: white;
        padding: 8px 16px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
    }
    #cesar {
        background-color: #cc5c5c;
        border: none;
        color: white;
        padding: 8px 16px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
    }
    #SDES {
        background-color: #b25050;
        border: none;
        color: white;
        padding: 8px 16px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
    }
    #RSA {
        background-color: #994545;
        border: none;
        color: white;
        padding: 8px 16px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        display: none;
    }

</style>
<body>

    <center>
        <h1>¿Que método de Cifrado desea utilizar?</h1>
        <form action="~/CifradoEspiral/">
            <input id="espiral" type="submit" value="Cifrado Espiral" />
        </form>
        <form action="~/CifradoZigZag/">
            <input id="zigzag" type="submit" value="Cifrado ZigZag" />
        </form>
        <form action="~/CifradoCesar/">
            <input id="cesar" type="submit" value="Cifrado César" />
        </form>
        <form action="~/CifradoSDES/">
            <input id="SDES" type="submit" value="Cifrado S-DES" />
        </form>
        <form action="~/CifradoRSA/" >
            <input id="RSA" type="submit" value="Cifrado RSA" />
        </form>
    </center>
    
</body>
